# Logs
*.log
logs

# Misc files and folders
.env
.nuxt
.output
coverage
node_modules
test-results

# Licence report
frontend-licence-report.csv

# Playwright
/blob-report/
/playwright-report/
/playwright/.auth/user.json
/playwright/.cache/

# Nuxt files
components.d.ts

# Storybook
storybook-static
