### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Lefthook ###
.lefthook-local
lefthook-local.yml

### macOS ###
.DS_Store

### postegres-data-set ###
/postgres-dataset/*/*.csv
postgres-dataset/

playwright/.auth/user.json
e2e/test-results/

### yarn (not using Zero-Installs)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
