services:
  opensearch:
    image: opensearchproject/opensearch:2.11.0
    container_name: opensearch
    restart: unless-stopped
    ports:
      - "9200:9200"
      - "9600:9600"
    expose:
      - 9200
      - 9600
    healthcheck:
      test: curl --silent --fail http://localhost:9200/_cluster/health | grep docker-cluster || exit 1
      interval: 5s
      retries: 20
      start_period: 10s
      timeout: 3s
    environment:
      - node.name=opensearch-node1
      - discovery.type=single-node
      - "DISABLE_SECURITY_PLUGIN=true"
      - "OPENSEARCH_JAVA_OPTS=-Xms4096m -Xmx4096m"
    networks:
      - ris-portal
    volumes:
      - ./backend/src/main/resources/openSearch/mounted/:/usr/share/opensearch/config/mounted/

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.11.0
    restart: unless-stopped
    ports:
      - "5601:5601"
    expose:
      - 5601
    environment:
      OPENSEARCH_HOSTS: '["http://opensearch:9200"]'
      DISABLE_SECURITY_DASHBOARDS_PLUGIN: "true"
    depends_on:
      - opensearch
    networks:
      - ris-portal

networks:
  ris-portal:
    driver: bridge

volumes:
  node_modules_public: {}
  node_modules_internal: {}
