services:
  opensearch:
    image: opensearchproject/opensearch:2.11.0
    container_name: opensearch
    restart: unless-stopped
    ports:
      - "9200:9200"
      - "9600:9600"
    expose:
      - 9200
      - 9600
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail http://localhost:9200/_cluster/health | grep docker-cluster || exit 1"]
      interval: 5s
      retries: 100
      start_period: 10s
    environment:
      - node.name=opensearch-node1
      - discovery.type=single-node
      - "DISABLE_SECURITY_PLUGIN=true"
      - "OPENSEARCH_JAVA_OPTS=-Xms4096m -Xmx4096m"
    networks:
      - ris-portal
    volumes:
      - ./backend/src/main/resources/openSearch/mounted/:/usr/share/opensearch/config/mounted/

networks:
  ris-portal:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.18.0.0/24

