:root {
  --vp-font-family-base: BundesSansWeb, Calibri, Verdana, Arial, Helvetica, sans-serif;
}

:root {
  --vp-c-brand-1: #004b76;
  --vp-c-brand-2: #336f91;
  --vp-c-brand-3: #004b76;
  --vp-c-brand-soft: #ccdbe4;
}

.dark {
  --vp-c-brand-1: #ccdbe4;
  --vp-c-brand-2: #ecf1f4;
  --vp-c-brand-3: #004b76;
  --vp-c-brand-soft: #336f91;

  --vp-button-brand-hover-bg: #336f91;
}

:is(a, button).ris-button {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  transition:
    color 0.25s,
    border-color 0.25s,
    background-color 0.25s;
  padding: 0 1.25rem;
  line-height: 2.375rem;
  font-size: 0.875rem;
  border-color: var(--vp-button-brand-border);
  color: var(--vp-button-brand-text);
  background-color: var(--vp-button-brand-bg);
}

:is(a, button).ris-button:active {
  transition:
    color 0.1s,
    border-color 0.1s,
    background-color 0.1s;
  border-color: var(--vp-button-brand-active-border);
  color: var(--vp-button-brand-active-text);
  background-color: var(--vp-button-brand-active-bg);
}

:is(a, button).ris-button:hover {
  border-color: var(--vp-button-brand-hover-border);
  color: var(--vp-button-brand-hover-text);
  background-color: var(--vp-button-brand-hover-bg);
}
