/* AKN */
.akn-act {
  @apply flex flex-col gap-32 pt-24;
}

.akn-content {
  @apply block;
}

/* Display the following structure all inline:
 | .akn-paragraph
    | .akn-num
    | .akn-content
       | .akn-p
 */
.akn-num + .akn-content,
.akn-content > .akn-p:first-child {
  @apply inline;
}

.akn-paragraph {
  @apply mb-16;
}

/* These values will be displayed separately */
.akn-docTitle {
  display: none;
}

.akn-shortTitle {
  display: none;
}

.akn-proprietary {
  display: none;
}

.akn-act a {
  @apply text-blue-800;
}
/* Tailwind says the group utility class should not be used with @apply */
.akn-act a:hover * {
  @apply underline;
}

.akn-act table > thead > tr > th {
  @apply align-bottom;
  @apply border-b-2 border-solid border-gray-800;
}

.akn-act td,
.akn-act th {
  @apply align-top;
  @apply p-4; /* Used to be 1mm at gesetze-im-internet.de */
}

.akn-act table {
  @apply mb-8 max-w-full border-collapse overflow-x-auto border-gray-800;

  .rowsep {
    @apply border-b;
  }
  .colsep {
    @apply border-r;
  }
}

/* see https://stackoverflow.com/questions/13352080/match-all-elements-having-class-name-starting-with-a-specific-string */
.akn-act *[class^="frame-"],
.akn-act *[class*=" frame-"] {
  @apply border-solid border-gray-800;
}

.akn-act .frame-all {
  @apply border-1;
}
.akn-act .frame-top {
  @apply border-t-1;
}
.akn-act .frame-right {
  @apply border-r-1;
}
.akn-act .frame-bottom {
  @apply border-b-1;
}
.akn-act .frame-left {
  @apply border-l-1;
}

.akn-act pre {
  @apply ris-body3-regular overflow-x-auto;
  font-family: monospace;
}
.akn-act .akn-paragraph,
.akn-mainBody {
  @apply overflow-x-auto;
}

/*
Attributes from the Juris CALS format without a corresponding HTML attribute migrated as classes
*/
.akn-act .valign-top {
  @apply align-top;
}
.akn-act .valign-middle {
  @apply align-middle;
}
.akn-act .valign-bottom {
  @apply align-bottom;
}
.akn-act .align-center {
  @apply text-center;
  img {
    @apply inline-block;
  }
}

/* Hide headings for single article view */
.single-article h2.einzelvorschrift {
  @apply hidden;
}

/* highlight unimplemented structures */
.unimplementiert {
  @apply bg-yellow-100;
}

.akn-act > .dokumentenkopf {
  @apply hidden;
}

.dokumentenkopf {
  .titel {
    @apply ris-heading2-bold hyphens-auto;
  }

  *[data-longTitle] .titel {
    @apply ris-heading3-bold;
  }

  @media (max-width: 640px) {
    .titel {
      font-size: 26px;
    }
  }
}

.dokumentenkopf-fussnoten {
  @apply mt-20 mb-0 max-w-(--spacing-prose);

  .fussnoten {
    @apply my-0 space-y-12;
  }
  .fussnoten:before {
    @apply hidden;
  }
  .rueckverweis {
    @apply hidden;
  }
}

/* hide default table of contents, since it will be displayed behind an accordion section */
.eingangsformel .inhaltsuebersicht {
  @apply hidden;
}

/*   Regelungstext-Hauptteil
     ======================= */

.einzelvorschrift {
  @apply mb-16;
}

/* Einzelvorschrift :: Überschrift  */
h2.einzelvorschrift {
  @apply ris-heading3-bold my-24 inline-block;
  @apply break-after-avoid; /* Avoid page breaks between an Einzelvorschrift title and its body */
}

.akn-heading a {
  @apply text-blue-800;
}

.akn-p {
  @apply mb-8;
}

.akn-act,
.akn-doc {
  .akn-book,
  .akn-part,
  .akn-chapter,
  .akn-subchapter,
  .akn-section,
  .akn-subsection,
  .akn-title,
  .akn-subtitle,
  .akn-num,
  .akn-heading,
  .akn-paragraph,
  ol,
  h2,
  p,
  table {
    @apply max-w-(--spacing-prose);
  }

  table.pgwide {
    @apply w-full max-w-full;
  }
}

/*
  Disable default list style. Instead, use the <li> attribute `data-aufzählungsliteral`
  as the :before element's content.
*/
.juristischer-absatz-untergliederung {
  @apply list-none;
}
.juristischer-absatz-untergliederung li::before {
  content: attr(data-aufzählungsliteral) /* Leerzeichen einfügen */ " ";
  @apply mr-4;
}
.juristischer-absatz-untergliederung li div {
  @apply inline;
}

hr.trennlinie {
  @apply border-t-1 border-black;
  @apply mx-[30%] my-28;
}

.signatur {
  @apply text-center;
  @apply my-32;
}

/*
 Section separators
 ======
 The following is the LegalDocML.de nesting hierarchy.
 Apply different border widths depending on level.
 */
.akn-book > .akn-num,
.akn-part > .akn-num,
.akn-chapter > .akn-num,
.akn-subchapter > .akn-num,
.akn-section > .akn-num,
.akn-subsection > .akn-num,
.akn-title > .akn-num,
.akn-subtitle > .akn-num {
  @apply ris-heading3-bold float-none mb-4 block text-center;
}

.akn-book > .akn-heading,
.akn-part > .akn-heading,
.akn-chapter > .akn-heading,
.akn-subchapter > .akn-heading,
.akn-section > .akn-heading,
.akn-subsection > .akn-heading,
.akn-title > .akn-heading,
.akn-subtitle > .akn-heading {
  @apply ris-heading3-regular float-none mb-24 block border-b-4 border-gray-600 pb-16 text-center text-gray-900;
}
.akn-book > .akn-heading,
.akn-part > .akn-heading {
  @apply border-b-[10px];
}
.akn-chapter > .akn-heading {
  @apply border-b-[8px];
}
.akn-subchapter > .akn-heading,
.akn-section > .akn-heading {
  @apply border-b-[6px];
}

.akn-book + .akn-book,
.akn-part + .akn-part,
.akn-chapter + .akn-chapter,
.akn-subchapter + .akn-subchapter,
.akn-section + .akn-section,
.akn-subsection + .akn-subsection,
.akn-title + .akn-title,
.akn-subtitle + .akn-subtitle {
  @apply mt-80 block;
}
/*   Darstellung von Fußnoten
     ====== */

.fussnoten,
.nichtamtliche-fussnoten {
  @apply ris-body2-regular my-16 list-none pl-0 text-gray-900;
}

/* Show a 10 character wide separator above the collected notes  */
.fussnoten:before,
.nichtamtliche-fussnoten:before {
  content: "";
  display: block;
  width: 10ch;
  height: 1px;
  @apply bg-gray-900;
  margin-bottom: 10px;
}
/* Do not show separator line if the non-authorial notes are preceded by authorial notes */
.fussnoten + .nichtamtliche-fussnoten:before {
  content: initial;
}

/* Zeige Aufzählungszeichen und dazugehörigen Text nebeneinander an */
.fussnote {
  display: flex;
}

/* Mindestbreite für Aufzählungszeichen */
.fussnote .marker {
  @apply min-w-32 align-super text-[small];
}

/* Stelle sicher, dass Aufzählungszeichen und p auf der gleichen Zeile stehen */
.fussnote .marker + p {
  margin-top: 0;
}

/* Hebe Fußnoten hervor, wenn direkt zu ihnen navigiert wurde */
.fussnote:target {
  @apply bg-yellow-200;
}

/* Blende Rückverweis-Links in Print-Version aus */
@media print {
  .fussnoten .rueckverweis {
    display: none;
  }
}

/* Display blockLists with indent */
.akn-blockList {
  @apply mb-8;

  .akn-item {
    @apply flex items-start;
  }
  /* Ensure the num has a min-width of 60px (with margin), taking more space if needed */
  .akn-item > .akn-num {
    @apply float-none mr-4 shrink grow-0 basis-56;
  }
  .akn-item > .content {
    @apply shrink grow basis-0;
  }
}

.official-toc div {
  @apply lg:pl-32;
  @apply ml-16;
  @apply mb-16;
  &.level-1 {
    @apply ml-0;
    @apply ris-label1-bold;
  }
  &.level-5 {
    @apply ml-8;
  }
  &.level-10 {
    @apply ml-16;
  }
}

.norm-pdf-link {
  @apply inline-flex items-center;
}

.norm-pdf-link::before {
  content: "";
  @apply mr-8 inline-block h-24 w-24;
  mask: url("img/file.svg") no-repeat center;
  mask-size: contain;
  background-color: currentColor;
}
