.literature {
  @apply max-w-prose print:max-w-none;

  h1 {
    @apply hidden;
  }

  h2 {
    @apply ris-heading3-bold my-16 inline-block;
  }

  h3 {
    @apply ris-body1-bold my-8;
  }

  p {
    @apply mb-16 overflow-x-auto;
  }
}
