@import "tailwindcss";
@import "../../node_modules/@digitalservicebund/ris-ui/dist/style.css";

@source "../../node_modules/@digitalservicebund/ris-ui/dist/**/*.{js,vue,ts}";

@theme {
  --max-width-prose: 45rem;
  --shadow-active-tab:
    -1px -1px 0 0 var(--color-gray-600), 1px -1px 0 0 var(--color-gray-600);
}

@layer base {
  body {
    @apply ris-body1-regular antialiased;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility link-hover {
  @apply no-underline hover:underline;
}

.extra_letter_spacing {
  letter-spacing: 0.2em; /* following styling in gesetze-im-internet.de */
}

mark {
  @apply bg-yellow-200;
}

@utility list-custom {
  li {
    @apply relative ml-56;
  }
  li:before {
    content: counter(list-item);
    @apply absolute -left-56 flex size-40 items-center justify-center rounded-full border-2 border-gray-400;
  }
}

@utility list-bullet {
  @apply ml-24 list-outside list-disc space-y-16;
}

/* Workaround for https://github.com/tailwindlabs/tailwindcss/discussions/16429 */
@import "./legislation.css";
@import "./caselaw.css";
@import "./literature.css";
@import "./administrative-directive.css";

@import "./print.css";

input[type="search"] {
  &[data-size="large"] {
    &::-webkit-search-cancel-button {
      @apply -mr-[1.125rem] h-48 w-48;
    }
  }

  &::-webkit-search-cancel-button {
    @apply -mr-12 h-36 w-36 cursor-pointer appearance-none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 52 52'><path fill='currentColor' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'></path></svg>");
  }
}
input[type="search"]::-webkit-search-cancel-button:hover {
  @apply bg-blue-100;
}
