@import "tailwindcss";
@import "../../node_modules/@digitalservicebund/ris-ui/dist/style.css";

@source "../../node_modules/@digitalservicebund/ris-ui/dist/**/*.{js,vue,ts}";

@import "./print.css";

@theme {
  --max-width-prose: 45rem;
}

@layer base {
  :root {
    --p-tabs-tab-border-color: var(--color-gray-400);
    --p-tabs-tablist-border-color: var(--color-gray-400);
  }

  body {
    @apply ris-body1-regular antialiased;
  }
}

@utility container {
  @apply mx-auto px-16;
}

@utility link-hover {
  @apply no-underline hover:underline;
}

mark {
  @apply bg-yellow-200;
}

input[type="search"] {
  &[data-size="large"] {
    &::-webkit-search-cancel-button {
      @apply -mr-[1.125rem] h-48 w-48;
    }
  }

  &::-webkit-search-cancel-button {
    @apply -mr-12 h-36 w-36 cursor-pointer appearance-none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-16 -16 52 52'><path fill='currentColor' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'></path></svg>");
  }
}

input[type="search"]::-webkit-search-cancel-button:hover {
  @apply bg-blue-100;
}
