@media print {
  :root {
    --max-width-prose: 100%;
  }

  body {
    @apply text-sm;
  }

  .ris-heading2-bold {
    @apply text-2xl;
  }

  article {
    @apply break-inside-avoid-page;

    h2 {
      @apply break-after-avoid-page;
    }
  }
}

@page {
  @bottom-center {
    content: "Seite " counter(page) " von " counter(pages);
  }
}
