server:
  port: 8080

spring:
  config:
    import:
      - "kubernetes:"
      - "optional:configtree:/etc/secrets/*/"
  cloud:
    kubernetes:
      config:
        fail-fast: true
        sources:
          - name: ris-search-opensearch-config

swagger:
  server:
    url: https://ris-portal.prod.ds4g.net/
    description: Public production server

springdoc:
  swagger-ui:
    supportedSubmitMethods: []
    defaultModelsExpandDepth: -1

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

sentry:
  environment: production
  traces-sample-rate: 0.01
  logging:
    minimum-event-level: error

logging:
  level:
    de:
      bund:
        digitalservice:
          ris:
            search:
              config:
                httplogs: TRACE
