server:
  port: 8080
  front-end-url: https://ris-portal.dev.ds4g.net/
  technical-users: []

spring:
  config:
    import: "kubernetes:"
  cloud:
    kubernetes:
      config:
        fail-fast: true
        sources:
          - name: ris-search-opensearch-config
          - name: ris-search-postgres-config
      secrets:
        sources:
          - name: s3-case-law-ldml-bucket-secrets
          - name: s3-literature-ldml-bucket-secrets
          - name: s3-norms-ldml-bucket-secrets
          - name: s3-team-bucket-secrets
          - name: s3-administrative-directive-ldml-bucket-secrets
swagger:
  server:
    url: https://ris-portal.dev.ds4g.net/
    description: Public staging server

sentry:
  environment: staging-backend
  traces-sample-rate: 0.01
  logging:
    minimum-event-level: error

logging:
  level:
    de:
      bund:
        digitalservice:
          ris:
            search:
              config:
                httplogs: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
