server:
  port: 8080
  docs-url: "https://docs.rechtsinformationen.bund.de/"
  front-end-url: https://testphase.rechtsinformationen.bund.de/

spring:
  config:
    import:
      - "kubernetes:"
      - "optional:configtree:/etc/secrets/*/"
  cloud:
    kubernetes:
      config:
        fail-fast: true
        sources:
          - name: ris-search-opensearch-prototype-config
          - name: posthog-config

swagger:
  server:
    url: https://testphase.rechtsinformationen.bund.de/
    description: Public API (preview)

springdoc:
  swagger-ui:
    supportedSubmitMethods: []
    defaultModelsExpandDepth: -1

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

sentry:
  environment: prototype
  traces-sample-rate: 0.01
  dsn: "https://9fb90db5a19e625b82c4d9b52dd80fa8@o1248831.ingest.us.sentry.io/4506614661840896"

logging:
  level:
    de:
      bund:
        digitalservice:
          ris:
            search:
              config:
                httplogs: TRACE
      springframework:
        ws:
          server:
            MessageTracing:
              sent: DEBUG
              received: TRACE

# Used for sending feedback to posthog
posthog:
  api-key:
  host:
  feedback-survey-id:
