server:
  port: 8080
  front-end-url: https://ris-search.uat.ds4g.net/
  technical-users: []

spring:
  config:
    import: "kubernetes:"
  cloud:
    kubernetes:
      config:
        fail-fast: true
        sources:
          - name: ris-search-opensearch-config
      secrets:
        paths: /etc/secrets

swagger:
  server:
    url: https://ris-search.uat.ds4g.net/
    description: Public uat server

sentry:
  environment: uat-backend
  traces-sample-rate: 0.01
  logging:
    minimum-event-level: error

logging:
  level:
    org:
      zalando:
        logbook: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
