server:
  port: 8080
  front-end-url: https://ris-portal.dev.ds4g.net/
  technical-users: []

spring:
  config:
    import:
      - "kubernetes:"
      - "optional:configtree:/etc/secrets/*/"
  cloud:
    kubernetes:
      config:
        fail-fast: true
        sources:
          - name: ris-search-opensearch-config
          - name: ris-search-postgres-config

swagger:
  server:
    url: https://ris-portal.dev.ds4g.net/
    description: Public staging server

sentry:
  environment: staging-backend
  traces-sample-rate: 0.01
  logging:
    minimum-event-level: error
  dsn: "https://9fb90db5a19e625b82c4d9b52dd80fa8@o1248831.ingest.us.sentry.io/4506614661840896"

logging:
  level:
    de:
      bund:
        digitalservice:
          ris:
            search:
              config:
                httplogs: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
