# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Backend

on:
  workflow_call:
    inputs:
      container-image-tag:
        description: 'The full tag for the backend container image'
        required: true
        type: string
      container-image-version:
        description: 'The sha of the commit that triggered the pipeline'
        required: true
        type: string
      container-registry:
        description: 'Name of the container registry'
        required: false
        type: string
        default: ghcr.io

env:
  RUN_ID: ${{ github.run_id }}

  TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db
  TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db,public.ecr.aws/aquasecurity/trivy-java-db
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_RELEASE: ${{ github.sha }}

jobs:
  validate-gradle-wrapper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v5.0.0

  check-source-code-formatting:
    runs-on: ubuntu-latest
    needs: validate-gradle-wrapper
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21.0"
          distribution: "temurin"
          cache: gradle
      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew
      - name: Build with Gradle
        working-directory: ./backend
        run: ./gradlew spotlessCheck

  audit-licenses:
    runs-on: ubuntu-latest
    needs: validate-gradle-wrapper
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21.0"
          distribution: "temurin"
          cache: gradle
      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew
      - name: Run license scanner
        working-directory: ./backend
        run: ./gradlew checkLicense

  vulnerability-scan:
    runs-on: ubuntu-latest
    needs: validate-gradle-wrapper
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21.0"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
      - name: Build backend image
        uses: docker/build-push-action@v6
        with:
          file: backend/Dockerfile.prod
          context: backend
          tags: ${{ inputs.container-image-tag}}
          push: false
      - name: Run Trivy vulnerability scanner
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        env:
          TRIVY_OFFLINE_SCAN: true
        with:
          image-ref: ${{ inputs.container-image-tag }}
          format: "sarif"
          output: "trivy-results.sarif"
          cache-dir: .trivy
          trivyignores: backend/.trivyignore
      - name: Upload Trivy vulnerability image scanner results (as artifact)
        uses: actions/upload-artifact@v6
        with:
          name: "trivy-image-results-backend.sarif"
          path: "trivy-results.sarif"
          if-no-files-found: error
      - name: Check trivy results
        run: |
          if grep -qE 'HIGH|CRITICAL' trivy-results.sarif; then
            echo "Vulnerabilities found"
            echo "### Found vulnerabilities in trivy results" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            RESULT=$(cat trivy-results.sarif | jq -r '[.runs[].results[].message.text] | join("\\n\\n")')
            echo -e $RESULT >> $GITHUB_STEP_SUMMARY
            echo -e $RESULT
            exit 1
          else
            echo "No significant vulnerabilities found"
            exit 0
          fi
      - name: Upload Trivy image scan results to GitHub Security tab (on 'main' only)
        uses: github/codeql-action/upload-sarif@v4
        if: ${{ always() && github.ref == 'refs/heads/main' }} # Bypass non-zero exit code..
        with:
          sarif_file: "trivy-results.sarif"
          category: trivy-backend-image-scan
      - name: Generate cosign vulnerability scan record
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        env:
          TRIVY_OFFLINE_SCAN: true
        with:
          image-ref: ${{ inputs.container-image-tag }}
          format: "cosign-vuln"
          output: "vuln.json"
      - name: Upload cosign vulnerability scan record
        uses: actions/upload-artifact@v6
        with:
          name: "vuln.json"
          path: "vuln.json"
          if-no-files-found: error
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  backend-tests-and-code-quality:
    name: Backend tests and code quality checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21.0"
          distribution: "temurin"
          cache: gradle
      - name: Cache SonarQube packages
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew
      - name: Run Tests and Scan with SonarQube
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: sonarqube-tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        working-directory: ./backend
        run: ./gradlew sonar
      - name: Upload OpenAPI specification
        if: ${{ steps.sonarqube-tests.outcome == 'success' }}
        uses: actions/upload-artifact@v6
        with:
          name: openapi.json
          retention-days: 3
          path: backend/out/openapi.json
      - name: Run unit tests ( without SonarQube)
        if: ${{ github.actor != 'dependabot[bot]' }}
        working-directory: ./backend
        run: ./gradlew integrationTest
      - name: Run integration tests (without SonarQube, for dependabot)
        if: ${{ github.actor == 'dependabot[bot]' }}
        working-directory: ./backend
        run: ./gradlew integrationTest
      - name: Check SonarQube Quality Gate
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: sonarsource/sonarqube-quality-gate-action@cb3ed20f9fec62b4c3b8ad9e77656c6adaade913
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          scanMetadataReportFile: backend/build/sonar/report-task.txt
        timeout-minutes: 3 # Force to fail step after specific time
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  build-and-push-image:
    runs-on: ubuntu-latest
    needs:
      - validate-gradle-wrapper
      - check-source-code-formatting
      - audit-licenses
      - vulnerability-scan
      - backend-tests-and-code-quality
    permissions:
      contents: read
      id-token: write # This is used to complete the identity challenge with sigstore/fulcio..
      packages: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21.0"
          distribution: "temurin"
          cache: gradle
      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew
      - name: Log into container registry
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b
        with:
          registry: ${{ inputs.container-registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build backend image
        uses: docker/build-push-action@v6
        with:
          file: backend/Dockerfile.prod
          context: backend
          tags: ${{ inputs.container-image-tag}}
          push: true
      - name: Install cosign
        uses: sigstore/cosign-installer@4d14d7f17e7112af04ea6108fbb4bfc714c00390
        with:
          cosign-release: "v2.6.0" # We need to use v2.X.X because of major version GHA v4.X.X and broken image verification of Kyverno
      - name: Sign the published Docker image
        run: cosign sign --yes ${{ inputs.container-image-tag}}
      - name: Download cosign vulnerability scan record
        uses: actions/download-artifact@v7
        with:
          name: "vuln.json"
      - name: Attest vulnerability scan
        run: cosign attest --yes --replace --predicate vuln.json --type vuln ${{ inputs.container-image-tag}}
      - name: Install sentry-cli using official script
        if: ${{ env.SENTRY_AUTH_TOKEN != '' }}
        run: |
          curl -sL https://sentry.io/get-cli/ | bash
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Create and finalize Sentry release for Backend
        if: ${{ env.SENTRY_AUTH_TOKEN != '' }}
        run: |
          sentry-cli releases new ${{ inputs.container-image-version }}
          sentry-cli releases set-commits --auto ${{ inputs.container-image-version }}
          sentry-cli releases finalize ${{ inputs.container-image-version }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}


  generate-backend-code-documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21.0"
          distribution: "temurin"
          cache: gradle
      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew
      - name: Run Javadoc
        working-directory: ./backend
        run: ./gradlew javadoc
      - name: Upload documentation
        uses: actions/upload-artifact@v6
        with:
          name: backend-code-documentation
          retention-days: 3
          path: backend/build/docs/javadoc/

  push-reports:
    runs-on: ubuntu-latest
    env:
      reports-repo: digitalservicebund/ris-reports
    needs:
      - generate-backend-code-documentation
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ env.reports-repo }}
          ssh-key: ${{ secrets.REPORTS_DEPLOY_KEY }}
      - name: Setup git config
        run: |
          git config user.name "${{ github.repository }}"
          # This email identifies the commit as GitHub Actions - see https://github.com/orgs/community/discussions/26560
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Backend Code Documentation - Download
        uses: actions/download-artifact@v7
        with:
          name: backend-code-documentation
          path: tmp/backend-code-documentation/
      - name: Java - git add report
        uses: digitalservicebund/add-ris-report@c6c8735d23295c36a271c75e7dedc9b6b9a9ef5e
        with:
          filePath: tmp/backend-code-documentation
          destinationDir: search-code-documentation/java
          reportIsDirectory: true
      - name: Push reports
        run: |
          git diff-index --cached --quiet HEAD ||
            git commit \
              -m "Update from ${{ github.repository }}" \
              -m "From commit: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}" &&
            git push origin main &&
            echo "Pushed reports to ${{ github.server_url }}/${{ env.reports-repo }}" >> $GITHUB_STEP_SUMMARY

  push-openapi-spec:
    runs-on: ubuntu-latest
    env:
      documentation-repo: digitalservicebund/ris-portal-docs
    needs:
      - backend-tests-and-code-quality
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ env.documentation-repo }}
          token: ${{ secrets.DOCS_REPO_GITHUB_TOKEN }}
      - name: Setup git config
        run: |
          git config user.name "${{ github.repository }}"
          # This email identifies the commit as GitHub Actions - see https://github.com/orgs/community/discussions/26560
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: Download OpenAPI spec artifact
        uses: actions/download-artifact@v7
        with:
          path: docs/data/
          name: openapi.json
      - name: Push reports
        run: |
          git add docs/data/openapi.json &&
          git diff-index --cached --quiet HEAD ||
            git commit \
              -m ${{ toJSON(github.event.head_commit.message) }} \
              -m "From commit: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}" &&
            git push origin main &&
            echo "Pushed documentation to ${{ github.server_url }}/${{ env.documentation-repo }}" >> $GITHUB_STEP_SUMMARY
