name: Build, scan and push Backend image

on:
  workflow_call:
    inputs:
      container-image-tag:
        description: 'The full tag for the backend container image'
        required: true
        type: string
      container-image-version:
        description: 'The sha of the commit that triggered the pipeline'
        required: true
        type: string
      container-registry:
        description: 'Name of the container registry'
        required: false
        type: string
        default: ghcr.io

env:
  RUN_ID: ${{ github.run_id }}

  TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db
  TRIVY_JAVA_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-java-db,public.ecr.aws/aquasecurity/trivy-java-db
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_RELEASE: ${{ github.sha }}

jobs:
  build-scan-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read
      id-token: write # This is used to complete the identity challenge with sigstore/fulcio..
      packages: write
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21.0"
          distribution: "temurin"
          cache: gradle
      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew
      - name: Log into container registry
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ${{ inputs.container-registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and publish container image
        working-directory: ./backend
        run: CONTAINER_REGISTRY_USER=${{ github.actor }} CONTAINER_REGISTRY_PASSWORD=${{ secrets.GITHUB_TOKEN }} ./gradlew bootBuildImage --publishImage
        env:
          CONTAINER_REGISTRY: ${{ inputs.container-registry }}
          CONTAINER_IMAGE_TAG: ${{ inputs.container-image-tag}}

      - name: Run Trivy vulnerability scanner
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@a20de5420d57c4102486cdd9578b45609c99d7eb
        env:
          TRIVY_OFFLINE_SCAN: true
        with:
          image-ref: ${{ inputs.container-image-tag }}
          format: "sarif"
          output: "trivy-results.sarif"
          cache-dir: .trivy
          trivyignores: backend/.trivyignore
      - name: Upload Trivy vulnerability image scanner results (as artifact)
        uses: actions/upload-artifact@v5
        with:
          name: "trivy-image-results-backend.sarif"
          path: "trivy-results.sarif"
          if-no-files-found: error
      - name: Check trivy results
        run: |
          if grep -qE 'HIGH|CRITICAL' trivy-results.sarif; then
            echo "Vulnerabilities found"
            echo "### Found vulnerabilities in trivy results" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            RESULT=$(cat trivy-results.sarif | jq -r '[.runs[].results[].message.text] | join("\\n\\n")')
            echo -e $RESULT >> $GITHUB_STEP_SUMMARY
            echo -e $RESULT
            exit 1
          else
            echo "No significant vulnerabilities found"
            exit 0
          fi
      - name: Upload Trivy image scan results to GitHub Security tab (on 'main' only)
        uses: github/codeql-action/upload-sarif@v4
        if: ${{ always() && github.ref == 'refs/heads/main' }} # Bypass non-zero exit code..
        with:
          sarif_file: "trivy-results.sarif"
          category: trivy-backend-image-scan
      - name: Generate trivy vulnerability record for cosign
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@a20de5420d57c4102486cdd9578b45609c99d7eb
        env:
          TRIVY_OFFLINE_SCAN: true
        with:
          image-ref: ${{ inputs.container-image-tag }}
          format: "cosign-vuln"
          output: "vuln.json"
      - name: Install cosign
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
      - name: Sign the published Docker image
        run: cosign sign --yes ${{ inputs.container-image-tag }}
      - name: Attest vulnerability scan
        run: cosign attest --yes --replace --predicate vuln.json --type vuln ${{ inputs.container-image-tag}}
      - name: Install sentry-cli using official script
        if: ${{ env.SENTRY_AUTH_TOKEN != '' }}
        run: |
          curl -sL https://sentry.io/get-cli/ | bash
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Create and finalize Sentry release for Backend
        if: ${{ env.SENTRY_AUTH_TOKEN != '' }}
        run: |
          sentry-cli releases new ${{ inputs.container-image-version }}
          sentry-cli releases set-commits --auto ${{ inputs.container-image-version }}
          sentry-cli releases finalize ${{ inputs.container-image-version }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Send status to Slack
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
