name: Clean up old images

on:
  workflow_dispatch:

jobs:
  clean:
    runs-on: ubuntu-latest
    name: Delete old images
    steps:
      - uses: snok/container-retention-policy@3b0972b2276b171b212f8c4efbca59ebba26eceb
        with:
          account: digitalservicebund
          token: ${{ secrets.GITHUB_TOKEN }}
          image-names: "ris-search ris-search/frontend ris-search/public-frontend ris-search/internal-frontend"
          cut-off: 4w
          keep-n-most-recent: '5'
          dry-run: false