name: Frontend

on:
  workflow_call:
    inputs:
      container-image-tag:
        description: 'The full tag for the frontend container image'
        required: true
        type: string
      container-image-version:
        description: 'The sha of the commit that triggered the pipeline'
        required: true
        type: string
      container-registry:
        description: 'Name of the container registry'
        required: false
        type: string
        default: ghcr.io

env:
  RUN_ID: ${{ github.run_id }}
  SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  SENTRY_RELEASE: ${{ github.sha }}

jobs:
  check-frontend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Node modules
        run: yarn install --immutable
        working-directory: ./frontend
      - name: Prepare Nuxt
        run: yarn run prepare
        working-directory: ./frontend
      - name: Check style
        run: yarn run style:check
        working-directory: ./frontend
      - name: Run tests with coverage
        run: yarn run coverage
        working-directory: ./frontend
      - name: Set up SonarCloud
        if: ${{  github.actor != 'dependabot[bot]' }}
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: sonarsource/sonarcloud-github-action@ffc3010689be73b8e5ae0c57ce35968afd7909e8
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=digitalservicebund
            -Dsonar.projectKey=digitalservicebund_ris-search-frontend
            -Dsonar.projectBaseDir=frontend
            -Dsonar.sources=src
            -Dsonar.javascript.lcov.reportPaths=src/coverage/lcov.info
      - name: Check SonarCloud Quality Gate
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: sonarsource/sonarqube-quality-gate-action@cb3ed20f9fec62b4c3b8ad9e77656c6adaade913
        with:
          scanMetadataReportFile: frontend/.scannerwork/report-task.txt
        timeout-minutes: 3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  audit-licences-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Node modules
        run: yarn install --immutable
        working-directory: ./frontend
      - name: Run licence scanner
        run: yarn audit:licences
        working-directory: ./frontend
      - name: Upload licence report
        uses: actions/upload-artifact@v6
        with:
          name: licence-reports-frontend
          retention-days: 3
          path: frontend/frontend-licence-report.csv
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  frontend-file-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      packages: write
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Run Trivy vulnerability file scanner
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          scan-type: "fs"
          scan-ref: "./frontend"
          skip-dirs: node_modules # See https://github.com/aquasecurity/trivy/issues/1283
          format: "sarif"
          output: "trivy-results.sarif"
      - name: Check Trivy results
        run: |
          if grep -qE 'HIGH|CRITICAL' trivy-results.sarif; then
            echo "Vulnerabilities found"
            echo "### Found vulnerabilities in trivy results" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            RESULT=$(cat trivy-results.sarif | jq -r '[.runs[].results[].message.text] | join("\\n\\n")')
            echo -e $RESULT >> $GITHUB_STEP_SUMMARY
            echo -e $RESULT
            exit 1
          else
            echo "No significant vulnerabilities found"
            exit 0
          fi
      - name: Upload Trivy vulnerability file scanner results
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: "trivy-frontend-file-results.sarif"
          path: "trivy-results.sarif"
          if-no-files-found: error

  frontend-image-build-scan-and-push:
    runs-on: ubuntu-latest
    needs:
      - check-frontend
      - audit-licences-frontend
      - frontend-file-scan
    permissions:
      security-events: write
      packages: write
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log into container registry
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b
        with:
          registry: ${{ inputs.container-registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build frontend image
        uses: docker/build-push-action@v6
        with:
          file: frontend/Dockerfile
          context: frontend
          tags: ${{ inputs.container-image-tag}}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Run Trivy vulnerability image scanner
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          image-ref: ${{ inputs.container-image-tag}}
          format: "sarif"
          output: "trivy-results.sarif"
          trivyignores: frontend/.trivyignore
      - name: Upload Trivy vulnerability image scanner results (as artifact)
        uses: actions/upload-artifact@v6
        with:
          name: "trivy-image-results-frontend.sarif"
          path: "trivy-results.sarif"
          if-no-files-found: error
      - name: Upload Trivy image scan results to GitHub Security tab (on 'main' only)
        uses: github/codeql-action/upload-sarif@v4
        if: ${{ always() &&  github.ref == 'refs/heads/main' }} # Bypass non-zero exit code..
        with:
          sarif_file: "trivy-results.sarif"
          category: trivy-frontend-image-scan
      - name: Check Trivy results
        run: |
          if grep -qE 'HIGH|CRITICAL' trivy-results.sarif; then
            echo "Vulnerabilities found"
            echo "### Found vulnerabilities in trivy results" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            RESULT=$(cat trivy-results.sarif | jq -r '[.runs[].results[].message.text] | join("\\n\\n")')
            echo -e $RESULT >> $GITHUB_STEP_SUMMARY
            echo -e $RESULT
            exit 1
          else
            echo "No significant vulnerabilities found"
            exit 0
          fi
      - name: Generate Cosign vulnerability scan record
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          image-ref: ${{ inputs.container-image-tag }}
          format: "cosign-vuln"
          output: "vuln-frontend.json"
      - name: Upload Cosign vulnerability scan record
        uses: actions/upload-artifact@v6
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          name: "vuln-frontend.json"
          path: "vuln-frontend.json"
          if-no-files-found: error
      - name: Install Cosign
        if: ${{ github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' }}
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
      - name: Sign the published Docker image
        if: ${{ github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' }}
        run: cosign sign --yes ${{ inputs.container-image-tag }}
      - name: Attest vulnerability scan
        if: ${{ github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' }}
        run: cosign attest --yes --replace --predicate vuln-frontend.json --type vuln ${{ inputs.container-image-tag }}
      - name: Install Sentry CLI using official script
        if: ${{ github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' }}
        run: |
          curl -sL https://sentry.io/get-cli/ | bash
      - name: Create and finalize Sentry release for frontend
        if: ${{ github.actor != 'dependabot[bot]' && github.ref == 'refs/heads/main' }}
        run: |
          sentry-cli releases new ${{ inputs.container-image-version }}
          sentry-cli releases set-commits --auto ${{ inputs.container-image-version }}
          sentry-cli releases finalize ${{ inputs.container-image-version }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Send status to Slack
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
