name: Frontend Checks

on:
  workflow_call:

env:
  RUN_ID: ${{ github.run_id }}

jobs:
  check-frontend:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Node modules
        run: yarn install --immutable
        working-directory: ./frontend
      - name: Prepare Nuxt
        run: yarn run prepare
        working-directory: ./frontend
      - name: Check style
        run: yarn run style:check
        working-directory: ./frontend
      - name: Run tests with coverage
        run: yarn run coverage
        working-directory: ./frontend
      - name: Set up SonarCloud
        if: ${{  github.actor != 'dependabot[bot]' }}
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: sonarsource/sonarcloud-github-action@ffc3010689be73b8e5ae0c57ce35968afd7909e8
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=digitalservicebund
            -Dsonar.projectKey=digitalservicebund_ris-search-frontend
            -Dsonar.projectBaseDir=frontend
            -Dsonar.sources=src
            -Dsonar.javascript.lcov.reportPaths=src/coverage/lcov.info
      - name: Check SonarCloud Quality Gate
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: sonarsource/sonarqube-quality-gate-action@dc2f7b0dd95544cd550de3028f89193576e958b9
        with:
          scanMetadataReportFile: frontend/.scannerwork/report-task.txt
        timeout-minutes: 3
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  audit-licences-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Node modules
        run: yarn install --immutable
        working-directory: ./frontend
      - name: Run licence scanner
        run: yarn audit:licences
        working-directory: ./frontend
      - name: Upload licence report
        uses: actions/upload-artifact@v5
        with:
          name: licence-reports-frontend
          retention-days: 3
          path: frontend/frontend-licence-report.csv
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  frontend-file-scan:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      packages: write
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Run Trivy vulnerability file scanner
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: aquasecurity/trivy-action@a20de5420d57c4102486cdd9578b45609c99d7eb
        with:
          scan-type: "fs"
          scan-ref: "./frontend"
          skip-dirs: node_modules # See https://github.com/aquasecurity/trivy/issues/1283
          format: "sarif"
          output: "trivy-results.sarif"
      - name: Check Trivy results
        run: |
          if grep -qE 'HIGH|CRITICAL' trivy-results.sarif; then
            echo "Vulnerabilities found"
            echo "### Found vulnerabilities in trivy results" >> $GITHUB_STEP_SUMMARY
            echo "" >> $GITHUB_STEP_SUMMARY
            RESULT=$(cat trivy-results.sarif | jq -r '[.runs[].results[].message.text] | join("\\n\\n")')
            echo -e $RESULT >> $GITHUB_STEP_SUMMARY
            echo -e $RESULT
            exit 1
          else
            echo "No significant vulnerabilities found"
            exit 0
          fi
      - name: Upload Trivy vulnerability file scanner results
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: "trivy-frontend-file-results.sarif"
          path: "trivy-results.sarif"
          if-no-files-found: error
