name: CI-CD-Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allow to run this workflow manually
  workflow_dispatch:

env:
  RUN_ID: ${{ github.run_id }}

jobs:
  backend-checks:
    uses: ./.github/workflows/backend.yml
    secrets: inherit

  frontend-checks:
    uses: ./.github/workflows/frontend.yml
    secrets: inherit

  build-backend-image:
    uses: ./.github/workflows/build-backend-image.yml
    secrets: inherit
    with:
      container-registry: ghcr.io
      container-image-tag: ghcr.io/${{ github.repository }}:${{ github.sha }}
      container-image-version: ${{ github.sha }}

  build-frontend-image:
    uses: ./.github/workflows/build-frontend-image.yml
    secrets: inherit
    with:
      container-registry: ghcr.io
      container-image-tag: ghcr.io/${{ github.repository }}/frontend:${{ github.sha }}
      container-image-version: ${{ github.sha }}

  e2e-tests:
    needs:
      - build-backend-image
      - build-frontend-image
    uses: ./.github/workflows/pipeline-e2e.yml
    secrets: inherit
    with:
      backend-container-image-tag: ghcr.io/${{ github.repository }}:${{ github.sha }}
      frontend-container-image-tag:  ghcr.io/${{ github.repository }}/frontend:${{ github.sha }}

  deploy-backend-staging-and-uat:
    needs:
      - backend-checks
      - e2e-tests
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      deploying-repo: ris-search
      container-image-version: ${{ github.sha }}

  deploy-frontend-staging-and-uat:
    needs:
      - frontend-checks
      - e2e-tests
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      deploying-repo: ris-search/frontend
      container-image-version: ${{ github.sha }}