name: CI-CD-Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allow to run this workflow manually
  workflow_dispatch:

env:
  RUN_ID: ${{ github.run_id }}

  # Container image variables
  CONTAINER_REGISTRY: ghcr.io
  CONTAINER_IMAGE_VERSION: ${{ github.sha }}
  BACKEND_CONTAINER_IMAGE_NAMESPACE: ${{ github.repository }}
  BACKEND_CONTAINER_IMAGE_TAG: ghcr.io/${{ github.repository }}:${{ github.sha }}
  FRONTEND_CONTAINER_IMAGE_NAMESPACE: ${{ github.repository }}/frontend
  FRONTEND_CONTAINER_IMAGE_TAG: ghcr.io/${{ github.repository }}/frontend:${{ github.sha }}

jobs:
  backend-jobs:
    uses: ./.github/workflows/backend.yml
    secrets: inherit
    with:
      container-registry: ${{ env.CONTAINER_REGISTRY }}
      container-image-tag: ${{ env.BACKEND_CONTAINER_IMAGE_TAG }}
      container-image-version: ${{ env.CONTAINER_IMAGE_VERSION }}

  frontend-jobs:
    uses: ./.github/workflows/frontend.yml
    secrets: inherit
    with:
      container-registry: ${{ env.CONTAINER_REGISTRY }}
      container-image-tag: ${{ env.FRONTEND_CONTAINER_IMAGE_TAG }}
      container-image-version: ${{ env.CONTAINER_IMAGE_VERSION }}

  e2e-tests:
    needs:
      - backend-jobs
      - frontend-jobs
    uses: ./.github/workflows/pipeline-e2e.yml
    secrets: inherit
    with:
      backend-container-image-tag: ${{ env.BACKEND_CONTAINER_IMAGE_TAG }}
      frontend-container-image-tag:  ${{ env.FRONTEND_CONTAINER_IMAGE_TAG }}

  deploy-backend-staging-and-uat:
    needs:
      - backend-jobs
      - e2e-tests
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      container-image-namespace: ${{ env.BACKEND_CONTAINER_IMAGE_NAMESPACE}}
      container-image-version: ${{ env.CONTAINER_IMAGE_VERSION }}

  deploy-frontend-staging-and-uat:
    needs:
      - frontend-jobs
      - e2e-tests
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      container-image-namespace: ${{ env.FRONTEND_CONTAINER_IMAGE_NAMESPACE}}
      container-image-version: ${{ env.CONTAINER_IMAGE_VERSION }}