name: CI-CD-Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allow to run this workflow manually
  workflow_dispatch:

env:
  RUN_ID: ${{ github.run_id }}

jobs:
  e2e-tests:
    uses: ./.github/workflows/pipeline-e2e.yml
    secrets: inherit

  backend-jobs:
    uses: ./.github/workflows/backend.yml
    secrets: inherit
    with:
      container-registry: ghcr.io
      container-image-tag: ghcr.io/${{ github.repository }}:${{ github.sha }}
      container-image-version: ${{ github.sha }}

  frontend-jobs:
    uses: ./.github/workflows/frontend.yml
    secrets: inherit
    with:
      container-registry: ghcr.io
      container-image-tag: ghcr.io/${{ github.repository }}/frontend:${{ github.sha }}
      container-image-version: ${{ github.sha }}

  deploy-backend-staging-and-uat:
    needs:
      - backend-jobs
      - e2e-tests
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      deploying-repo: ris-search
      container-image-version: ${{ github.sha }}

  deploy-frontend-staging-and-uat:
    needs:
      - frontend-jobs
      - e2e-tests
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      deploying-repo: ris-search/frontend
      container-image-version: ${{ github.sha }}