name: End-to-end tests

on:
  workflow_call:
  workflow_dispatch:

env:
  RUN_ID: ${{ github.run_id }}

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configuration_label: [prototype, private]
        browser: [chromium, firefox, mobile]
        include:
          - configuration_label: prototype
            private_features_enabled: false
          - configuration_label: private
            private_features_enabled: true
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 40
      - name: Adjust permissions to Docker
        run: sudo chmod 666 /var/run/docker.sock
      - name: Cache OpenSearch image
        id: opensearch-cache
        uses: actions/cache@v5
        with:
          path: /home/runner/.docker-image-cache/opensearch.tar
          key: opensearch-image-cache-2.11.0
      - name: Load cached OpenSearch image if exists
        if: steps.opensearch-cache.outputs.cache-hit == 'true'
        run: |
          docker load -i /home/runner/.docker-image-cache/opensearch.tar
      - name: Pull and cache OpenSearch image
        if: steps.opensearch-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p /home/runner/.docker-image-cache
          docker pull opensearchproject/opensearch:2.11.0
          docker save opensearchproject/opensearch:2.11.0 -o /home/runner/.docker-image-cache/opensearch.tar
      - name: Start opensearch container
        run: docker compose -f docker-compose.yml up -d opensearch
      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21.0"
          distribution: "temurin"
          cache: gradle
      - name: Grant execute permission for gradlew
        working-directory: ./backend
        run: chmod +x gradlew
      - name: Wait for OpenSearch health
        run: |
          echo "Waiting for OpenSearch on http://localhost:9200 ..."
          until curl --silent --fail http://localhost:9200/_cluster/health; do
            echo "Still waiting for OpenSearch..."
            sleep 5
          done
      - name: Start backend locally (background)
        working-directory: ./backend
        env:
          SPRING_PROFILES_ACTIVE: e2e,default
          OPENSEARCH_HOST: localhost
          THC_PORT: 8090
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: |
          nohup ./gradlew bootRun --no-daemon > backend.log 2>&1 &
          sleep 8
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'yarn'
          cache-dependency-path: ./frontend/yarn.lock
      - name: Install Node modules
        run: yarn install --immutable
        working-directory: ./frontend
      - name: Start frontend locally (background)
        working-directory: ./frontend
        env:
          NUXT_PUBLIC_PRIVATE_FEATURES_ENABLED: ${{ matrix.private_features_enabled }}
          NUXT_PUBLIC_RIS_BACKEND_URL: http://localhost:8090
          SENTRY_TELEMETRY: false
          CI: true
        run: |
          nohup yarn dev --no-devtools --port 3000 > frontend.log 2>&1 &
      - name: Get Playwright version
        run: echo "PLAYWRIGHT_VERSION=$(yarn list --pattern @playwright/test | awk -F "@" 'NR==2 {print $NF}')" >> $GITHUB_ENV
        working-directory: ./frontend
      - name: Cache browser binaries
        id: playwright-cache
        uses: actions/cache@v5
        with:
          path: /home/runner/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
      - name: Install Playwright browsers
        run: yarn exec playwright install --with-deps chromium firefox webkit
        working-directory: ./frontend
      - name: Wait for backend to respond
        run: |
          echo "Waiting for backend on http://localhost:8090/actuator/health ..."
          until curl --silent --fail http://localhost:8090/actuator/health; do
            echo "Still waiting..."
            sleep 5
          done
      - name: Wait for frontend to fully render
        timeout-minutes: 5
        run: |
          echo "Waiting for Nuxt frontend to render HTML..."
          until curl -s http://localhost:3000 | grep -q 'id="__nuxt"'; do
            echo "Still waiting for Nuxt..."
            sleep 5
          done
          echo "Nuxt is ready!"
      - name: Run Playwright tests
        run: yarn exec playwright test --project ${{ matrix.browser }}
        working-directory: ./frontend
        env:
          NUXT_PUBLIC_PRIVATE_FEATURES_ENABLED: ${{ matrix.private_features_enabled }}
          TZ: Europe/Berlin
      - name: Upload test reports
        uses: actions/upload-artifact@v5
        if: ${{ !failure() }}
        with:
          name: playwright-e2e-tests-report-${{ matrix.configuration_label }}-${{ matrix.browser }}
          path: frontend/playwright-report/**
          retention-days: 5
      - name: Upload traces of failed tests
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: failed-e2e-tests-${{ matrix.configuration_label }}-${{ matrix.browser }}
          path: frontend/playwright-report/**/*.zip
          retention-days: 5
      - name: Output logs on failure
        if: ${{ failure() }}
        run: docker compose -f docker-compose.yml logs > docker-compose-logs-${{ matrix.configuration_label }}-${{ matrix.browser }}.log
      - name: Upload backend log
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: backend-log-${{ matrix.configuration_label }}-${{ matrix.browser }}
          path: backend/backend.log
      - name: Upload frontend log
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: frontend-log-${{ matrix.configuration_label }}-${{ matrix.browser }}
          path: frontend/frontend.log
      - name: Upload Docker logs
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: docker-compose-logs-${{ matrix.configuration_label }}-${{ matrix.browser }}
          path: docker-compose-logs-${{ matrix.configuration_label }}-${{ matrix.browser }}.log
          retention-days: 5
      - name: Tear down services
        if: ${{ always() }}
        run: docker compose -f docker-compose.yml down -v
      - name: Kill frontend dev process
        if: ${{ always() }}
        run: pkill -f "yarn dev" || true
      - name: Kill backend process
        if: ${{ always() }}
        run: pkill -f "bootRun" || true
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  push-reports:
    runs-on: ubuntu-latest
    env:
      reports-repo: digitalservicebund/ris-reports
    needs:
      - e2e-tests
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v6
        with:
          repository: ${{ env.reports-repo }}
          ssh-key: ${{ secrets.REPORTS_DEPLOY_KEY }}
          ref: main
      - name: Setup git config
        run: |
          git config user.name "${{ github.repository }}"
          # This email identifies the commit as GitHub Actions - see https://github.com/orgs/community/discussions/26560
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: E2E test reports - Download
        uses: actions/download-artifact@v7
        with:
          path: tmp/playwright-report/
          pattern: playwright-e2e-tests-report-*
      - name: Add latest directory
        run: mkdir -p test-reports/ris-search/latest
      - name: E2E test reports - git add report
        uses: digitalservicebund/add-ris-report@c6c8735d23295c36a271c75e7dedc9b6b9a9ef5e
        with:
          filePath: tmp/playwright-report/
          destinationDir: test-reports/ris-search
          reportIsDirectory: true
      - name: Push reports
        run: |
          git diff-index --cached --quiet HEAD ||
            git commit \
              -m "Update from ${{ github.repository }}" \
              -m "From commit: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}" &&
            git push origin main &&
            echo "Pushed reports to ${{ github.server_url }}/${{ env.reports-repo }}" >> $GITHUB_STEP_SUMMARY
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
