name: End-to-end tests

on:
  workflow_call:
    inputs:
      backend-container-image-tag:
        description: 'The full tag for the backend container image'
        required: true
        type: string
      frontend-container-image-tag:
        description: 'The full tag for the frontend container image'
        required: true
        type: string


env:
  RUN_ID: ${{ github.run_id }}
  # Used by the docker-compose-ci.yml to load the correct images
  BACKEND_IMAGE: ${{ inputs.backend-container-image-tag}}
  FRONTEND_IMAGE: ${{ inputs.frontend-container-image-tag}}

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - configuration_label: prototype
            env_file_name: .env.ci.prototype
            private_features_enabled: false
          - configuration_label: private
            env_file_name: .env.ci.private
            private_features_enabled: true
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 40
      - name: Log into container registry
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Adjust permissions to Docker
        run: sudo chmod 666 /var/run/docker.sock
      - name: Run backend and frontend
        run: docker compose -f docker-compose-ci.yml up -d
        env:
          ENV_FILE_NAME: ${{ matrix.env_file_name }}
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Node modules
        run: yarn install --immutable
        working-directory: ./frontend
      - name: Get Playwright version
        run: echo "PLAYWRIGHT_VERSION=$(yarn list --pattern @playwright/test | awk -F "@" 'NR==2 {print $NF}')" >> $GITHUB_ENV
        working-directory: ./frontend
      - name: Cache browser binaries
        id: playwright-cache
        uses: actions/cache@v4
        with:
          path: /home/runner/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}-chromium
      - name: Install Playwright browsers
        run: yarn exec playwright install --with-deps chromium firefox webkit
        working-directory: ./frontend
      - name: Wait for frontend to respond or dump logs if fail
        timeout-minutes: 5
        run: |
          echo "Waiting for frontend to respond at http://localhost:3000 ..."
          set +e
          until curl --silent --fail http://localhost:3000; do
            echo "Still waiting for frontend..."
            sleep 15
          done
      - name: Run Playwright tests
        run: yarn exec playwright test --project chromium firefox mobile
        working-directory: ./frontend
        env:
          RIS_BASE_URL: http://localhost:3000
          NUXT_PUBLIC_PRIVATE_FEATURES_ENABLED: ${{ matrix.private_features_enabled }}
          TZ: Europe/Berlin
      - name: Upload test reports
        uses: actions/upload-artifact@v5
        if: ${{ !failure() }}
        with:
          name: playwright-e2e-tests-report-${{ matrix.configuration_label }}
          path: frontend/playwright-report
          retention-days: 5
      - name: Upload traces of failed tests
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: failed-e2e-tests-${{ matrix.configuration_label }}
          path: frontend/playwright-report/**/*.zip
          retention-days: 5
      - name: Output logs on failure
        if: ${{ failure() }}
        run: docker compose -f docker-compose-ci.yml logs > docker-compose-logs-${{ matrix.configuration_label }}.log
        env:
          ENV_FILE_NAME: ${{ matrix.env_file_name }}
      - name: Upload Docker logs
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: docker-compose-logs-${{ matrix.configuration_label }}
          path: docker-compose-logs-${{ matrix.configuration_label }}.log
          retention-days: 5
      - name: Tear down services
        if: ${{ always() }}
        run: docker compose -f docker-compose-ci.yml down -v
        env:
          ENV_FILE_NAME: ${{ matrix.env_file_name }}
      - name: Send status to Slack
        uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  push-reports:
    runs-on: ubuntu-latest
    env:
      reports-repo: digitalservicebund/ris-reports
    needs:
      - e2e-tests
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v5
        with:
          repository: ${{ env.reports-repo }}
          ssh-key: ${{ secrets.REPORTS_DEPLOY_KEY }}
          ref: main
      - name: Setup git config
        run: |
          git config user.name "${{ github.repository }}"
          # This email identifies the commit as GitHub Actions - see https://github.com/orgs/community/discussions/26560
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - name: E2E test reports - Download
        uses: actions/download-artifact@v6
        with:
          path: tmp/playwright-report/
          pattern: playwright-e2e-tests-report-*
      - name: Add latest directory
        run: mkdir -p test-reports/ris-search/latest
      - name: E2E test reports - git add report
        uses: digitalservicebund/add-ris-report@c6c8735d23295c36a271c75e7dedc9b6b9a9ef5e
        with:
          filePath: tmp/playwright-report/
          destinationDir: test-reports/ris-search
          reportIsDirectory: true
      - name: Push reports
        run: |
          git diff-index --cached --quiet HEAD ||
            git commit \
              -m "Update from ${{ github.repository }}" \
              -m "From commit: ${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}" &&
            git push origin main &&
            echo "Pushed reports to ${{ github.server_url }}/${{ env.reports-repo }}" >> $GITHUB_STEP_SUMMARY
